<a href="https://colab.research.google.com/github/vladospb/python_exercises/blob/main/hw3-exercise-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1. 45 баллов

Вам предлагается проанализировать датасет с Data - вакансиями. Скачайте его https://disk.yandex.ru/d/QUa3pCKVk48cAQ и считайте с помощью pd.read_csv.

Выведите первые 5 и последние 5 строк датасета. Примените к датасету методы info и describe (1)

In [35]:
import pandas as pd
import numpy as np
import os, sys, json
import urllib.parse as ul

def get_CSV_FromYandex(url):
    base_url = 'https://cloud-api.yandex.net:443/v1/disk/public/resources/download?public_key='
    folder = '.'
    res = os.popen('wget -qO - {}{}'.format(base_url, url)).read()
    json_res = json.loads(res)
    filename = ul.parse_qs(ul.urlparse(json_res['href']).query)['filename'][0]
    os.system("wget '{}' -P '{}' -O '{}'".format(json_res['href'], folder, filename))
    return filename


df = pd.read_csv(get_CSV_FromYandex('https://disk.yandex.ru/d/QUa3pCKVk48cAQ'), index_col=0)

0. Выведите первые 5 и последние 5 строк датасета.
Примените к датасету методы info и describe (1)

In [36]:
df[:5]

,position_name,employer_name,area,experience,schedule,employment,professional_roles,salary,description,key_skills
0,Data Scientist Авито,Changellenge,Москва,От 1 года до 3 лет,Полный день,Полная занятость,Другое,"{'from': 255000, 'to': 490000, 'currency': 'RU...",<p>В наших командах разрабатывают эффективные ...,[]
1,Data analyst,Публичная Компания «Freedom Finance Global PLC»,Алматы,От 1 года до 3 лет,Полный день,Полная занятость,"BI-аналитик, аналитик данных","{'from': 800000, 'to': 'null', 'currency': 'KZ...",<p><strong>Обязанности</strong></p><ul><li>Изв...,[]
2,Data Engineer/Data Analyst,IMANTECH,Ташкент,Нет опыта,Гибкий график,Полная занятость,"BI-аналитик, аналитик данных",NaN,<p><strong>About Us:</strong> Welcome to <stro...,"['SQL', 'Визуализация данных', 'Python', 'Powe..."
3,Стажер в направление Big Data,T2,Москва,Нет опыта,Полный день,Полная занятость,"BI-аналитик, аналитик данных",NaN,<strong>Что нужно делать:</strong> <ul> <li>Со...,[]
4,Data Marketing Manager / Маркетолог по анализу...,Procter & Gamble,Алматы,От 1 года до 3 лет,Полный день,Полная занятость,Другое,"{'from': 950000, 'to': 'null', 'currency': 'KZ...",<p><strong>Найм в ТОО «Проктер энд Гэмбл Казах...,"['Английский язык', 'Аналитический склад ума']"

In [37]:
df[-5:]

,position_name,employer_name,area,experience,schedule,employment,professional_roles,salary,description,key_skills
1522,Senior Data Scientist в b2c направление,HeadHunter,Москва,От 3 до 6 лет,Гибкий график,Полная занятость,"Программист, разработчик",NaN,<p>Наша команда работает с соискательской функ...,"['Python', 'Machine Learning', 'SQL', 'PyTorch..."
1523,Data analyst (Senior),Иви,Москва,От 3 до 6 лет,Полный день,Полная занятость,"BI-аналитик, аналитик данных",NaN,<p><strong>Иви — один из лидеров рынка онлайн-...,[]
1524,Senior Data Analyst,Autodoc Group (Автодок Казахстан),Алматы,От 3 до 6 лет,Полный день,Полная занятость,Продуктовый аналитик,NaN,<p>Company Description</p> <p>AUTODOC is a tec...,[]
1525,TeamLead Data Engineer,HeadHunter,Москва,От 3 до 6 лет,Полный день,Полная занятость,"Программист, разработчик",NaN,"<p><strong>Привет,</strong> <strong>на связи к...","['Python', 'Apache Airflow', 'Apache Cassandra..."
1526,Senior Python Developer (Data Platform),Mindbox,Москва,От 3 до 6 лет,Гибкий график,Полная занятость,"Программист, разработчик",NaN,<p><strong>Mindbox</strong> — крупнейшая в Рос...,"['Python', 'PySpark', 'Airflow', 'Kafka', 'Del..."

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1527 entries, 0 to 1526
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   position_name       1527 non-null   object
 1   employer_name       1527 non-null   object
 2   area                1527 non-null   object
 3   experience          1527 non-null   object
 4   schedule            1527 non-null   object
 5   employment          1527 non-null   object
 6   professional_roles  1527 non-null   object
 7   salary              220 non-null    object
 8   description         1527 non-null   object
 9   key_skills          1527 non-null   object
dtypes: object(10)
memory usage: 131.2+ KB

In [39]:
df.describe(include = 'all').T

,count,unique,top,freq
position_name,1527,793,Data Engineer,126
employer_name,1527,524,СБЕР,146
area,1527,102,Москва,912
experience,1527,4,От 3 до 6 лет,724
schedule,1527,5,Полный день,1098
employment,1527,4,Полная занятость,1464
professional_roles,1527,36,Дата-сайентист,464
salary,220,130,"{'from': 100000, 'to': 110000, 'currency': 'RU...",20
description,1527,1232,<p>Striving to gain market-oriented knowledge ...,46
key_skills,1527,653,[],607

Есть ли в датасете пропуски? (1)

In [40]:
df.isna().sum().sum() > 0

True

Есть в датасете полные дубли? Если да, удалите их (метод drop_duplicates). (1)

In [47]:
df.duplicated().sum() > 0

True

In [56]:
df = df.drop_duplicates(keep='last')

In [59]:
df.duplicated().sum() > 0

False

Сколько уникальных значений у переменной professional_roles? (1)

In [60]:
def getNumOfUniqueValuesOfProfRoles(column):
    result = list()
    for row in column:
        for role in row.split(', '):
            result.append(role)
    return len(set(result))

getNumOfUniqueValuesOfProfRoles(df['professional_roles'])

45

Сколько в датасете вакансий, не требующих опыта? (2)

In [61]:
len(df[df['experience'] == 'Нет опыта'])

121

Какое среднее количество навыков в вакансии? (переменная key_skills) (2)

In [62]:
round(df['key_skills'].apply(lambda x: len(eval(x))).mean(), 1)

3.9

Какие валюты (ключ currency в поле salary) используются для заработной платы? Создайте столбец currency. (2)

Подсказка. Как вариант, можете воспользоваться функцией eval, которая исполняет код, написанный в строке. Для проверки на NaN можете использовать pd.isnull()

In [63]:
df['currency'] = df['salary'].apply(lambda x: eval(x)['currency'] if pd.notna(x) else '')
df['currency'].unique()

array(['RUR', 'KZT', '', 'UZS', 'USD', 'EUR', 'BYR'], dtype=object)

Какая компания лидирует по количеству вакансий? (2)

In [70]:
df['employer_name'].mode()

0    СБЕР
Name: employer_name, dtype: object

Какая компания лидирует по количеству вакансий с указанием заработной платы? (2)

In [69]:
df[df['salary'].notna()]['employer_name'].mode()

0    Aston
Name: employer_name, dtype: object

Создайте столбец salary_num. Рассчитайте его, используя столбец salary. Если в это столбце указана вилка зарплаты, используйте среднее значение между from и to. Если указано только одно из значений (from или to, используйте его) (2)

In [71]:
def countSalaryNum(dict_about_salary):
    if dict_about_salary['from'] != 'null' and dict_about_salary['to'] != 'null':
        return dict_about_salary['to'] - dict_about_salary['from'] / 2
    elif dict_about_salary['from'] != 'null':
        return float(dict_about_salary['from'])
    else:
        return float(dict_about_salary['to'])

df['salary_num'] = df['salary'].apply(lambda x: countSalaryNum(eval(x)) if pd.notna(x) else np.nan)
df['salary_num']

0       362500.0
1       800000.0
2            NaN
3            NaN
4       950000.0
          ...
1522         NaN
1523         NaN
1524         NaN
1525         NaN
1526         NaN
Name: salary_num, Length: 1381, dtype: float64

Какая средняя заработная плата среди вакансий в рублях? А медианная заработная плата? (2)

In [72]:
round(df[df['currency'] == 'RUR']['salary_num'].mean(), 1), df[df['currency'] == 'RUR']['salary_num'].median()

(192054.2, 165000.0)

Создайте столбец is_python_requirement, который принимает значение 1, если в key_skills присутствует python

(учитывайте написание в любом регистре, а также вхождения подстроки python.). Какой процент вакансий требует знания python? (3)

In [73]:
df['is_python_requirement'] = df['key_skills'].apply(lambda x: int('python' in x.lower()))
f"{df['is_python_requirement'].sum() / df.shape[0]:.2%}"

'41.85%'

Сгруппируйте по столбцам experience, schedule, employment, is_python_requirement (сразу по четырем столбцам). Найдите по каждой группе:
*   количество опубликованных вакансий
*   количество компаний, которые опубликовали вакансии
*   среднюю заработную плату среди вакансий с указанием зарплаты в рублях (3)

In [85]:
grouped_df = df.groupby(['experience', 'schedule', 'employment', 'is_python_requirement'])
grouped_df.size().reset_index(name='vacancy_count')

,experience,schedule,employment,is_python_requirement,vacancy_count
0,Более 6 лет,Гибкий график,Полная занятость,0,3
1,Более 6 лет,Гибкий график,Частичная занятость,0,1
2,Более 6 лет,Полный день,Полная занятость,0,42
3,Более 6 лет,Полный день,Полная занятость,1,10
4,Более 6 лет,Удаленная работа,Полная занятость,0,9
5,Более 6 лет,Удаленная работа,Полная занятость,1,12
6,Нет опыта,Гибкий график,Полная занятость,1,2
7,Нет опыта,Гибкий график,Стажировка,1,3
8,Нет опыта,Полный день,Полная занятость,0,26
9,Нет опыта,Полный день,Полная занятость,1,48
10,Нет опыта,Полный день,Стажировка,0,7
11,Нет опыта,Полный день,Стажировка,1,9
12,Нет опыта,Удаленная работа,Полная занятость,0,2
13,Нет опыта,Удаленная работа,Полная занятость,1,1
14,Нет опыта,Удаленная работа,Стажировка,0,2
15,Нет опыта,Удаленная работа,Стажировка,1,21
16,От 1 года до 3 лет,Вахтовый метод,Полная занятость,0,1
17,От 1 года до 3 лет,Гибкий график,Полная занятость,0,6
18,От 1 года до 3 лет,Гибкий график,Полная занятость,1,17
19,От 1 года до 3 лет,Гибкий график,Стажировка,0,1
20,От 1 года до 3 лет,Гибкий график,Частичная занятость,1,1
21,От 1 года до 3 лет,Полный день,Полная занятость,0,269
22,От 1 года до 3 лет,Полный день,Полная занятость,1,148
23,От 1 года до 3 лет,Сменный график,Полная занятость,0,2
24,От 1 года до 3 лет,Сменный график,Полная занятость,1,1
25,От 1 года до 3 лет,Сменный график,Частичная занятость,0,1
26,От 1 года до 3 лет,Удаленная работа,Полная занятость,0,50
27,От 1 года до 3 лет,Удаленная работа,Полная занятость,1,46
28,От 1 года до 3 лет,Удаленная работа,Частичная занятость,0,1
29,От 1 года до 3 лет,Удаленная работа,Частичная занятость,1,2
30,От 3 до 6 лет,Гибкий график,Полная занятость,0,8
31,От 3 до 6 лет,Гибкий график,Полная занятость,1,7
32,От 3 до 6 лет,Гибкий график,Проектная работа,0,1
33,От 3 до 6 лет,Полный день,Полная занятость,0,281
34,От 3 до 6 лет,Полный день,Полная занятость,1,152
35,От 3 до 6 лет,Полный день,Проектная работа,1,1
36,От 3 до 6 лет,Удаленная работа,Полная занятость,0,89
37,От 3 до 6 лет,Удаленная работа,Полная занятость,1,96
38,От 3 до 6 лет,Удаленная работа,Частичная занятость,0,1
39,От 3 до 6 лет,Удаленная работа,Частичная занятость,1,1

In [97]:
grouped_df['employer_name'].count().reset_index(name='employers_count')

,experience,schedule,employment,is_python_requirement,employers_count
0,Более 6 лет,Гибкий график,Полная занятость,0,3
1,Более 6 лет,Гибкий график,Частичная занятость,0,1
2,Более 6 лет,Полный день,Полная занятость,0,42
3,Более 6 лет,Полный день,Полная занятость,1,10
4,Более 6 лет,Удаленная работа,Полная занятость,0,9
5,Более 6 лет,Удаленная работа,Полная занятость,1,12
6,Нет опыта,Гибкий график,Полная занятость,1,2
7,Нет опыта,Гибкий график,Стажировка,1,3
8,Нет опыта,Полный день,Полная занятость,0,26
9,Нет опыта,Полный день,Полная занятость,1,48
10,Нет опыта,Полный день,Стажировка,0,7
11,Нет опыта,Полный день,Стажировка,1,9
12,Нет опыта,Удаленная работа,Полная занятость,0,2
13,Нет опыта,Удаленная работа,Полная занятость,1,1
14,Нет опыта,Удаленная работа,Стажировка,0,2
15,Нет опыта,Удаленная работа,Стажировка,1,21
16,От 1 года до 3 лет,Вахтовый метод,Полная занятость,0,1
17,От 1 года до 3 лет,Гибкий график,Полная занятость,0,6
18,От 1 года до 3 лет,Гибкий график,Полная занятость,1,17
19,От 1 года до 3 лет,Гибкий график,Стажировка,0,1
20,От 1 года до 3 лет,Гибкий график,Частичная занятость,1,1
21,От 1 года до 3 лет,Полный день,Полная занятость,0,269
22,От 1 года до 3 лет,Полный день,Полная занятость,1,148
23,От 1 года до 3 лет,Сменный график,Полная занятость,0,2
24,От 1 года до 3 лет,Сменный график,Полная занятость,1,1
25,От 1 года до 3 лет,Сменный график,Частичная занятость,0,1
26,От 1 года до 3 лет,Удаленная работа,Полная занятость,0,50
27,От 1 года до 3 лет,Удаленная работа,Полная занятость,1,46
28,От 1 года до 3 лет,Удаленная работа,Частичная занятость,0,1
29,От 1 года до 3 лет,Удаленная работа,Частичная занятость,1,2
30,От 3 до 6 лет,Гибкий график,Полная занятость,0,8
31,От 3 до 6 лет,Гибкий график,Полная занятость,1,7
32,От 3 до 6 лет,Гибкий график,Проектная работа,0,1
33,От 3 до 6 лет,Полный день,Полная занятость,0,281
34,От 3 до 6 лет,Полный день,Полная занятость,1,152
35,От 3 до 6 лет,Полный день,Проектная работа,1,1
36,От 3 до 6 лет,Удаленная работа,Полная занятость,0,89
37,От 3 до 6 лет,Удаленная работа,Полная занятость,1,96
38,От 3 до 6 лет,Удаленная работа,Частичная занятость,0,1
39,От 3 до 6 лет,Удаленная работа,Частичная занятость,1,1

In [95]:
grouped_df['currency']

Создайте столбец count_skills. В нём должна быть длина списка, который находит в столбце key_skills. Обратите внимание, что изначально столбец key_skills - строка, например, '[]'

Подумайте, как превратить её в список и посчитать его длину. (3)

In [30]:
df['count_skills'] = df['key_skills'].apply(lambda x: len(eval(x)))
df['count_skills']

0        0
1        0
2       11
3        0
4        2
        ..
1522    19
1523     0
1524     0
1525     9
1526     9
Name: count_skills, Length: 1527, dtype: int64

Создайте столбец len_descr, в котором должна быть длина описания (description) в символах без учета html тегов ("<...>"). Напишите для этого функцию get_len_descr. (3)

Можете использовать регулярные выражения. То есть, ваш код может выглядеть, например, так:

In [31]:
import re
from bs4 import BeautifulSoup

def get_len_descr(descr):
    regex = re.compile(r'<[^>]*>')
    clean_descr = regex.sub('', descr)
    return len(clean_descr)

df['len_descr'] = df['description'].apply(lambda x: get_len_descr(str(x)))
df['len_descr']

0       1583
1       1310
2       3760
3       1188
4       3355
        ...
1522    4404
1523    3113
1524    2605
1525    3192
1526    3124
Name: len_descr, Length: 1527, dtype: int64

Постройте таблицу корреляций с тремя переменными: salary_num, len_descr, count_skills. (1)

Постройте тепловую карту из таблицы из предыдущего пункта. (1)

Какие скиллы чаще всего требуются? Выведите топ-10 требуемых скиллов. (3)

Постройте гистограмму распределения зарплаты среди вакансий в рублях. (3)

Постройте boxplot зарплаты (среди вакансий в рублях) с группировкой по полю experience (3)

Попробуйте ответить на какой-нибудь вопрос по данным, не заданный ранее. Никак не ограничиваем вашу фантазию (3)

Задача 2. 55 баллов
Работаем с датасетом https://disk.yandex.ru/d/P6u1Za-nnmtwPA Скачайте его.

In [ ]:
df = get_CSV_FromYandex('https://disk.yandex.ru/d/P6u1Za-nnmtwPA')

Оцениваем факторы, которые влияют на цену на аренду в Москве. Описание столбцов:
metro - ближайшая станция метро
price - цена за аренды
minutes - расстояние до метро в минутах
way - пусть до метро (пешком или на транспорте)
views - просмотры квартиры
provider - кто сдает квартиру (собственник, риелтор, застройщик)
fee_percent - процент, который получает риелтор
storey- этаж
storeys- число этажей в здании
living_area - жилая площаль
kitchen_area - площадь кухни
total_area - общая площадь

Часть 1. EDA. 30 баллов